.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

body {
    background-color: #F7ECDE;
}

.job-state {
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.job-title {
    flex-grow: 2;
    margin-left: 11px;
    margin-right: 16px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.job-item {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #E4E4E4;
}

.job-list {
    border-radius: 10px;
    overflow: hidden;
    background-color: #38938A;
}

.job-list-inner {
    background-color: #54BAB9;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.filter-item {
    color: #44A0A0;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin: 21px;
}

.job-filter {
    display: flex;
    justify-content: center;
}

.add-new-task {
    width: 200px;
    height: 31px;
    border-radius: 10px;
    background-color: #38938A;
    text-align: center;
    color: #F6F6F6;
    font-size: 20px;
    font-weight: 800;
}

.job-list-title {
    background-color: #38938A;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 9px;
}

.job-list-title-inner {
    border-radius: 10px;
    background-color: #54BAB9;
    overflow: hidden;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: #1D8A8A;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 11px;
}

.job-module {
    width: 40%;
    min-width: max-content;
}

.job-categories {
    width: 250px;
    height: 99.1%;
    border-radius: 10px;
    background: #54BAB9;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.job-categories-title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.job-categories-list {
    margin-top: 48px;
    flex-grow: 2;
}

.possible-category {
    margin-bottom: 10px;
    width: 200px;
}

.job-categories-module {
    margin-right: 12px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #38938A;
}

.job-categories-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.job-create-task-module {
    width: 500px;
    height: 450px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #54BAB9;
}
.job-create-task-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
}

.job-create-task-title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.job-input {
    margin-top: 18px;
    width: 420px;
    height: 40px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
}

.job-input-title {
    width: 402px;
    color: #858585;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border: none;
    outline: none;

}

.job-input-title:focus {
    border: none;
    outline: none;
}

.horizontal-line {
    height: 1px;
    width: 60px;
    background-color: white;
}

article {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    color: #E9C597;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 90%;
    margin-top: 80px;
    margin-bottom: 114px;
}

footer {
    display: flex;
    min-height: 250px;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
}